In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('prueba.xlsx')

In [5]:
def dividir_por_comas(row):
    id_demanda = row['ID_DEMANDA']
    cod_reclamacion = str(row['COD_RECLAMACION'])
    valores_numericos = cod_reclamacion.split(',')
    return [(id_demanda, int(valor)) for valor in valores_numericos]

In [6]:
lista_de_tuplas = df.apply(dividir_por_comas, axis=1).sum()

In [12]:
nuevo_df = pd.DataFrame(lista_de_tuplas, columns=['ID_DEMANDA', 'COD_RECLAMACION'])

In [13]:
nuevo_df.head(50)

    ID_DEMANDA  COD_RECLAMACION
0            9                6
1           26               12
2          704               14
3           27               15
4            1               18
5           28               20
6          765               21
7            5               25
8            5               27
9            5               29
10          25               26
11          25               28
12          30               30
13          10               31
14          10               36
15          10              618
16          24               33
17          24               41
18          24               49
19          24               52
20          33               37
21          33              150
22           8               38
23           8               58
24           8              209
25          12               43
26          12              147
27           6               45
28           6               47
29           6               48
30           6               60
31           2               50
32           2               57
33           2               62
34           2               71
35         148              132
36          11               54
37          37               61
38          37              617
39          32               64
40          32              127
41          34               65
42          34              151
43          34              188
44          34              217
45          34              573
46          38               66
47          38               95
48        1088               67
49          29               67

In [9]:
nuevo_df_agrupado.head()

   ID_DEMANDA       VALOR_NUMERICO
0           1                 [18]
1           2     [50, 57, 62, 71]
2           3  [78, 136, 259, 271]
3           4            [90, 513]
4           5         [25, 27, 29]

In [14]:
%pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\usuario\anaconda3\lib\site-packages (3.0.10)
Requirement already satisfied: et_xmlfile in c:\users\usuario\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [16]:
# Exportar el DataFrame a un archivo de Excel
nuevo_df.to_excel(r'C:\Users\usuario\Desktop\PROYECTO FINAL IRONHACK\prueba1.xlsx', index=False)

In [17]:
df_sin_duplicados = nuevo_df.drop_duplicates(subset=["COD_RECLAMACION"])

In [18]:
df_sin_duplicados.to_excel(r'C:\Users\usuario\Desktop\PROYECTO FINAL IRONHACK\prueba2.xlsx', index=False)